In [1]:
import pandas as pd
import sys 
import pandas as pd
from io import StringIO
#from selenium import webdriver
import json

In [2]:
#nominator-validator link
#staking.nominators: Option<Nominations> 

#list 1-1
#staking.bonded: Option<AccountId>

#staked 
#balances.locks: Vec<BalanceLock>

#identity
#identity.identityOf: Option<Registration>

#prefs
#validators(AccountId): ValidatorPrefs

#staking.erasValidatorPrefs: ValidatorPrefs
#staking.erasStakers: Exposure

In [3]:
lock_list = list()

with open (r".\20210412\locks.txt") as f:
  lines = f.readlines()
  for line in lines:
      words = line.split()
      for word in words:
          #print (word)
          #df = pd.DataFrame(columns=['string_values'])
          #df_source = df_source.append({'string_values': word}, ignore_index=True)
          lock_list.append(word)

lock_df=pd.DataFrame(lock_list, columns=['string_values'])

In [4]:
#phrelect,
lock_df1=lock_df[(lock_df['string_values'] != "[") & 
                     (lock_df['string_values'] != "]") & 
                     (lock_df['string_values'] != "],") & 
                     (lock_df['string_values'] != ",") & 
                     (lock_df['string_values'] != "All") & 
                     (lock_df['string_values'] != "amount:") & 
                     (lock_df['string_values'] != "reasons:") & 
                     (lock_df['string_values'] != "id:") & 
                     (lock_df['string_values'] != "{") & 
                     (lock_df['string_values'] != "}") & 
                     (lock_df['string_values'] != "},") #& 
                     #(lock_df['string_values'] != "staking") 
                     ].copy()
lock_df1.reset_index(inplace=True, drop = False)

In [5]:
i = 0 
length_data = lock_df1.shape[0]
lock_list1 = list()

while (i + 4 < length_data):    
    if (lock_df1.at[i+1, 'string_values'] == "staking"):
        if   (lock_df1.at[i+3, 'string_values'] == "HDX,"):
            lock_list1.append((lock_df1.at[i, 'string_values'], float(lock_df1.at[i+2, 'string_values'])))
        elif (lock_df1.at[i+3, 'string_values'] == "kHDX,"):
            lock_list1.append((lock_df1.at[i, 'string_values'], float(lock_df1.at[i+2, 'string_values']) * 1000))
        elif (lock_df1.at[i+3, 'string_values'] == "MHDX,"):
            lock_list1.append((lock_df1.at[i, 'string_values'], float(lock_df1.at[i+2, 'string_values']) * 1000000))
    i = i + 1
    
lock_df2 = pd.DataFrame(lock_list1, columns =['lock_nominator', 'lock_stake'])

In [6]:
lock_df2.head()

                                     lock_nominator  lock_stake
0  7JZpnvsVW1P5HTr168zoqZK5qvTdWbGvq1fKNe39taZG9gAV     11213.4
1  7HsHt7AU21aJTW3EjPJqjcVjpNAMA4yyFddUSBN8TayEbPC9     15500.0
2  7N8kScJF9BJ1duMTa4UppEN6MnCzU69MLVPJsoSJzFTVRT5E     14375.0
3  7LEgaS2J8K9qdVivwoLm6oapdH1Rxi12dvgopoLrMtXLpngX      1000.0
4  7MBqPFCzHxoYbiPdFF5MFbR1aNN5G8MdnnjvCtiK9FjVq1cM    510379.8

In [7]:
nomval_list = list()

with open (r".\20210412\nominators.txt") as f:
  lines = f.readlines()
  for line in lines:
      words = line.split()
      for word in words:
          nomval_list.append(word)

nomval_df=pd.DataFrame(nomval_list, columns=['string_values'])

In [8]:
nomval_df1=nomval_df[(nomval_df['string_values'] != "[") & 
                     (nomval_df['string_values'] != "]") & 
                     (nomval_df['string_values'] != "],") & 
                     (nomval_df['string_values'] != ",") & 
                     (nomval_df['string_values'] != "All") & 
                     (nomval_df['string_values'] != "amount:") & 
                     (nomval_df['string_values'] != "reasons:") & 
                     (nomval_df['string_values'] != "id:") & 
                     (nomval_df['string_values'] != "{") & 
                     (nomval_df['string_values'] != "}") &                      
                     (nomval_df['string_values'] != "submittedIn:") &                      
                     (nomval_df['string_values'] != "suppressed:") &     
                     (nomval_df['string_values'] != "targets:") &                  
                     (nomval_df['string_values'] != "false") & 
                     (nomval_df['string_values'] != "staking") 
                     ].copy()
nomval_df1.reset_index(inplace=True, drop = False)

In [9]:
i = 0 
length_data = nomval_df1.shape[0]
nomval_list1 = list()

while (i < length_data):
    j=i+1
    while (nomval_df1.at[j, 'string_values'] != "0,"): 
        nomval_list1.append((nomval_df1.at[i, 'string_values'].replace(',',''), nomval_df1.at[j, 'string_values'].replace(',','')))
        j=j+1
    i=j+1 
    
nomval_df2 = pd.DataFrame(nomval_list1, columns =['nv_nominator', 'nv_validator'])

In [10]:
nomval_df2.head()

,nv_nominator,nv_validator
0,7LKTaxTPdY3k1a5RPhRwiDjX1jdtdqiAS9i9dqCB85Ly2ftT,7Kb7QZj8t6k8JzoLcBnC5JuS87hya6tXFNpcq5jTXPr6aQ7y
1,7LKTaxTPdY3k1a5RPhRwiDjX1jdtdqiAS9i9dqCB85Ly2ftT,7Jt7Gnrue5rY1fWiwLKjuACqWvc7TXKXwB5Au3fGTaa6bW7M
2,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,7LeAuXae35f84yxEpsS7zKa6etuVVEun4hr1Y6vsaFzx77GY
3,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,7Ni7k6VzmMamc5XixohFCmMYe6WYeqqgkqSGhupA8FMEhHFP
4,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,7MxJ9E1Ni6tx94DnV9mJCn6eVjqYgtvXz395M1kK94dii6qm

In [11]:
prefs_list = list()

with open (r".\20210412\prefs.txt") as f:
  lines = f.readlines()
  for line in lines:
      words = line.split()
      for word in words:
          prefs_list.append(word)

prefs_df=pd.DataFrame(prefs_list, columns=['string_values'])

In [12]:
prefs_df1=prefs_df[  (prefs_df['string_values'] != "[") & 
                     (prefs_df['string_values'] != "]") & 
                     (prefs_df['string_values'] != "],") & 
                     (prefs_df['string_values'] != ",") & 
                     (prefs_df['string_values'] != "All") & 
                     (prefs_df['string_values'] != "amount:") & 
                     (prefs_df['string_values'] != "reasons:") & 
                     (prefs_df['string_values'] != "id:") & 
                     (prefs_df['string_values'] != "{") & 
                     (prefs_df['string_values'] != "}") &                      
                     (prefs_df['string_values'] != "submittedIn:") &                      
                     (prefs_df['string_values'] != "suppressed:") &     
                     (prefs_df['string_values'] != "targets:") &                  
                     (prefs_df['string_values'] != "false") & 
                     (prefs_df['string_values'] != "commission:") & 
                     (prefs_df['string_values'] != "blocked:") & 
                     (prefs_df['string_values'] != "staking") 
                     ].copy()
prefs_df1.reset_index(inplace=True, drop = False)

In [13]:
i = 0 
length_data = prefs_df1.shape[0]
prefs_list1 = list()

while (i < length_data):
    prefs_list1.append((prefs_df1.at[i, 'string_values'].replace(',',''), float(prefs_df1.at[i+1, 'string_values'].replace('%,',''))))
    i = i + 2
   
prefs_df2 = pd.DataFrame(prefs_list1, columns =['prefs_validator', 'prefs_commission'])

In [14]:
prefs_df2.head()

                                    prefs_validator  prefs_commission
0  7JF1JmEg9B9XgGALfvcQ7yvfvFgy3SbgQLGtv1kZrSJLNDu9               8.0
1  7HjntvAskE1RXoGrSz3sHYeEmG6narGjiMhUQVaTa4mAcAbn               6.0
2  7KgUevcYG2krGJ3SVTUqXbD4yPnNaUU1bEuLQEwUmbTXDcqz               1.0
3  7Mtmd7xVWiEU84NABeW5KKtr1v4BX75boKbHph9Wv6cY6DfA               3.0
4  7KR9tByr3FtYfT2i9GXQFL3DmHLqJSHhMu4VjvyWgx4a3je4               5.0

In [15]:
identity_list = list()

with open (r".\20210412\identity.txt") as f:
  lines = f.readlines()
  for line in lines:
    identity_list.append(line)

identity_df=pd.DataFrame(identity_list, columns=['string_values'])
identity_df['string_values'] = identity_df['string_values'].str.lstrip()
identity_df['string_values'] = identity_df['string_values'].str.rstrip()

In [16]:
identity_df1=identity_df[(identity_df['string_values'] != "[") & 
                         (identity_df['string_values'] != "]") & 
                         (identity_df['string_values'] != "],") & 
                         (identity_df['string_values'] != ",") & 
                         (identity_df['string_values'] != "{") & 
                         (identity_df['string_values'] != "}") & 
                         (identity_df['string_values'] != "},") & 
                         (identity_df['string_values'] != "additional: [],") &   
                         (identity_df['string_values'] != "judgements: [],") &   
                         (identity_df['string_values'] != "deposit: 500.0000 mHDX,") &   
                         (identity_df['string_values'] != "info: {") &   
                         (identity_df['string_values'] != "pgpFingerprint: null,")  
                        ].copy()
identity_df1.reset_index(inplace=True, drop = False)

In [17]:
i = 0 
length_data = identity_df1.shape[0]
identity_list1 = list()

while (i < length_data):
    if (identity_df1.at[i, 'string_values'][0] == "7"): 
        identity_address = identity_df1.at[i, 'string_values']     
        j=i+1
        identity_display = ''
        identity_legal = ''
        identity_web = ''
        identity_riot = ''
        identity_email = ''
        identity_twitter = ''

    loop = True 
    while (loop): 
        if ('display: {' in identity_df1.at[j, 'string_values']):
            if ('Raw: ' in identity_df1.at[j+1, 'string_values']): 
                identity_display = identity_df1.at[j+1, 'string_values'].replace('Raw: ','')

        elif ('legal: {' in identity_df1.at[j, 'string_values']):
            if ('Raw: ' in identity_df1.at[j+1, 'string_values']): 
                identity_legal = identity_df1.at[j+1, 'string_values'].replace('Raw: ','')

        elif ('web: {' in identity_df1.at[j, 'string_values']):
            if ('Raw: ' in identity_df1.at[j+1, 'string_values']): 
                identity_web = identity_df1.at[j+1, 'string_values'].replace('Raw: ','')

        elif ('riot: {' in identity_df1.at[j, 'string_values']):
            if ('Raw: ' in identity_df1.at[j+1, 'string_values']): 
                identity_riot = identity_df1.at[j+1, 'string_values'].replace('Raw: ','')

        elif ('email: {' in identity_df1.at[j, 'string_values']):
            if ('Raw: ' in identity_df1.at[j+1, 'string_values']): 
                identity_email = identity_df1.at[j+1, 'string_values'].replace('Raw: ','')
                
        elif ('twitter: {' in identity_df1.at[j, 'string_values']):
            if ('Raw: ' in identity_df1.at[j+1, 'string_values']): 
                identity_twitter = identity_df1.at[j+1, 'string_values'].replace('Raw: ','')

        if (j == length_data - 1): 
            loop = False
        elif (identity_df1.at[j+1, 'string_values'][0] == "7"):
            loop = False

        if (loop == True):
            j=j+1
        else: 
            identity_list1.append((identity_address, 
                                   identity_display, 
                                   identity_web,
                                   identity_riot,
                                   identity_email,
                                   identity_twitter                                   
                                   ))
            i=j+1          
    
identity_df2 = pd.DataFrame(identity_list1, columns =['id_address', 
                                                      'id_display', 
                                                      'id_web',
                                                      'id_riot',
                                                      'id_email',
                                                      'id_twitter'  
                                                      ])

In [18]:
promoteam_list = list()

with open (r".\20210412\pt.txt") as f:
  lines = f.readlines()
  for line in lines:
    promoteam_list.append(line)

promoteam_df=pd.DataFrame(promoteam_list, columns=['string_values'])
#identity_df['string_values'] = identity_df['string_values'].str.lstrip()
#identity_df['string_values'] = identity_df['string_values'].str.rstrip()

In [19]:
promoteam_df1=promoteam_df[(promoteam_df['string_values'] != '\n') 
                        ].copy()
promoteam_df1.reset_index(inplace=True, drop = False)

In [20]:
i = 0 
length_data = promoteam_df1.shape[0]
promoteam_list1 = list()

while (i + 1 < length_data):
    if (promoteam_df1.at[i, 'string_values'][0] == '*'): 
        promoteam_address = promoteam_df1.at[i+1, 'string_values'].replace('\n','')     
        promoteam_name = ''
        promoteam_web = ''
        promoteam_telegram = ''
        
        sub1 = promoteam_df1.at[i, 'string_values'][1:]
        x1 = sub1.find('%')
        sub2 = sub1[0:x1-2].strip()
        x2 = sub2.find('(https')
        promoteam_name = sub2
        if (x2>=0): 
            sub3 = sub2[x2:]
            x3 = sub3.find(')')
            sub4 = sub3[1:x3]
            promoteam_web = sub4
            promoteam_name = sub2[:x2]
       
        promoteam_name = promoteam_name.replace('-','').strip()

        x4 = sub1.find('@') 
        promoteam_telegram = sub1[x4:].replace('-','').strip()

        promoteam_list1.append((promoteam_address, 
                                   promoteam_name,
                                   promoteam_web, 
                                   promoteam_telegram                                 
                                   ))
    i=i+1
promoteam_df2 = pd.DataFrame(promoteam_list1, columns =['promoteam_address', 
                                                      'promoteam_name',
                                                      'promoteam_web', 
                                                      'promoteam_telegram'
                                                      ])

In [21]:
cliff_df=pd.read_excel(r"./20210412/cliff.xlsx") 
cliff_df2 = cliff_df.fillna('')

#cliff_df2.to_excel("asdasd.xlsx")

In [22]:
info_df=pd.read_excel(r"./20210412/info.xlsx") 
info_df2 = info_df.fillna('')

In [23]:
#promoteam_df2.to_excel("asdfsssdasd.xlsx")

In [24]:
identity_df2.head()

,id_address,id_display,id_web,id_riot,id_email,id_twitter
0,7KgUevcYG2krGJ3SVTUqXbD4yPnNaUU1bEuLQEwUmbTXDcqz,Snakenet #1 | hydraheads.net,https://hydraheads.net,,,
1,7JC3ZDap7ag6skbmTxVwXiM9CZd113zo2oUurzXHv18cUdWA,HydraDX,,,,
2,7LW93hbhegZgvGN9ScshQuu2v1TFjj68oi1F4kjKMHvQG9mE,JD | Good Validator!,,,,
3,7N2wD1M7F9T2hARx9BjoHYQj6hqNTgd6FmKT2rC8HVFwxsrH,Crypto Society,https://t.me/cryptosocietyy,,,@cryptosocietytg
4,7MxJ9E1Ni6tx94DnV9mJCn6eVjqYgtvXz395M1kK94dii6qm,i9-9900K_performance_node,,,inventandchill@protonmail.com,

In [25]:
lock_df2

                                        lock_nominator  lock_stake
0     7JZpnvsVW1P5HTr168zoqZK5qvTdWbGvq1fKNe39taZG9gAV     11213.4
1     7HsHt7AU21aJTW3EjPJqjcVjpNAMA4yyFddUSBN8TayEbPC9     15500.0
2     7N8kScJF9BJ1duMTa4UppEN6MnCzU69MLVPJsoSJzFTVRT5E     14375.0
3     7LEgaS2J8K9qdVivwoLm6oapdH1Rxi12dvgopoLrMtXLpngX      1000.0
4     7MBqPFCzHxoYbiPdFF5MFbR1aNN5G8MdnnjvCtiK9FjVq1cM    510379.8
...                                                ...         ...
1443  7KzZUtuX3ruCM44tq9N83dRhrJkenGxgSDfwxZk99r4MHxxW      3378.3
1444  7NV4moGB7SiU3g2QsteB3vho2VJ6dqca5ajSqTPKQh9Xihru     15750.0
1445  7MVjxyyvg4rcp4qcnKBenp6KPCL3MUK9krthZreHu6YevHb1     80000.0
1446  7MtkmmYKhJtsT94XXaVhxjrr9P7nzyLC9S7SJdfDGrCN2uTD    134835.0
1447  7Nz2oS3QsqtqSABNZxbWjwDtSR9T96G3t2oNhBjQgXZywYHL     21300.0

[1448 rows x 2 columns]

In [26]:
nomval_df2

,nv_nominator,nv_validator
0,7LKTaxTPdY3k1a5RPhRwiDjX1jdtdqiAS9i9dqCB85Ly2ftT,7Kb7QZj8t6k8JzoLcBnC5JuS87hya6tXFNpcq5jTXPr6aQ7y
1,7LKTaxTPdY3k1a5RPhRwiDjX1jdtdqiAS9i9dqCB85Ly2ftT,7Jt7Gnrue5rY1fWiwLKjuACqWvc7TXKXwB5Au3fGTaa6bW7M
2,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,7LeAuXae35f84yxEpsS7zKa6etuVVEun4hr1Y6vsaFzx77GY
3,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,7Ni7k6VzmMamc5XixohFCmMYe6WYeqqgkqSGhupA8FMEhHFP
4,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,7MxJ9E1Ni6tx94DnV9mJCn6eVjqYgtvXz395M1kK94dii6qm
...,...,...
5770,7JTxEFLetAtByBnCxnvru7Jk7vEY5QzcqJdas6b36RueDiki,7Ni7k6VzmMamc5XixohFCmMYe6WYeqqgkqSGhupA8FMEhHFP
5771,7Lh2fyZ7NJnBsGqAot2CXUbcnoVJFiTCRFLeqtEMRp5DKYWK,7LBK6UBtBVFHGqjfZp3BkQseXz7zFom7eVshyyB6HkSREQeV
5772,7Lh2fyZ7NJnBsGqAot2CXUbcnoVJFiTCRFLeqtEMRp5DKYWK,7KLEkNB5CnkrMEasfhCHggTDJZymQMeckTmN6naogUKj1Ez7
5773,7Lh2fyZ7NJnBsGqAot2CXUbcnoVJFiTCRFLeqtEMRp5DKYWK,7MW7PmdPX3qAXWNc7BJZ5GvQnfd3V4kd12o8Cv9bbquBDV2Z
5774,7JNkxmGVV5ELbWRhLtfh1ehMiRx5WALXST4rFTzyk255r8eN,7L8vysxVUoFLaz4prDrSsDH8LWhvD5anU5tDaBLwikosVAP7

In [27]:
prefs_df2

                                      prefs_validator  prefs_commission
0    7JF1JmEg9B9XgGALfvcQ7yvfvFgy3SbgQLGtv1kZrSJLNDu9               8.0
1    7HjntvAskE1RXoGrSz3sHYeEmG6narGjiMhUQVaTa4mAcAbn               6.0
2    7KgUevcYG2krGJ3SVTUqXbD4yPnNaUU1bEuLQEwUmbTXDcqz               1.0
3    7Mtmd7xVWiEU84NABeW5KKtr1v4BX75boKbHph9Wv6cY6DfA               3.0
4    7KR9tByr3FtYfT2i9GXQFL3DmHLqJSHhMu4VjvyWgx4a3je4               5.0
..                                                ...               ...
232  7KLNWE11ry9PsZTjF946ZhDuAqgCt3V9FcK4C8FECde5jFiC               0.0
233  7Hnbh8jgGq39MnqRxAbQrUDgSWfsr8drPQfvikmx3ZRS2z3k               3.0
234  7LdiCJo1ECGYpcnzwGoQDX6UwYesPxPZ3cKHE8QKa6fzHk9r               0.0
235  7LdgWcszy3R76eBU3sAqYvwBUG9PxiwJ6K8XGvNQandWy1R1               3.0
236  7PDWVATtCauVqBTmT67f3oL2zM7XQJXUkDFxRMpKYCadGukr               1.0

[237 rows x 2 columns]

In [28]:
identity_df2

,id_address,id_display,id_web,id_riot,id_email,id_twitter
0,7KgUevcYG2krGJ3SVTUqXbD4yPnNaUU1bEuLQEwUmbTXDcqz,Snakenet #1 | hydraheads.net,https://hydraheads.net,,,
1,7JC3ZDap7ag6skbmTxVwXiM9CZd113zo2oUurzXHv18cUdWA,HydraDX,,,,
2,7LW93hbhegZgvGN9ScshQuu2v1TFjj68oi1F4kjKMHvQG9mE,JD | Good Validator!,,,,
3,7N2wD1M7F9T2hARx9BjoHYQj6hqNTgd6FmKT2rC8HVFwxsrH,Crypto Society,https://t.me/cryptosocietyy,,,@cryptosocietytg
4,7MxJ9E1Ni6tx94DnV9mJCn6eVjqYgtvXz395M1kK94dii6qm,i9-9900K_performance_node,,,inventandchill@protonmail.com,
...,...,...,...,...,...,...
117,7LiwbfGNJF5eXKW2VWpCPp3a86ZgCS5NLHJe23EVgagCHVQG,Mississippi-Goddam,,,,
118,7MxSbxBEqvQZviFHBXotwidoqxqLA4gYf3neMT59Rjhuhotb,xHDX.RUSTY.Node,,,xHDX.RUSTY.Node@gmail.com,
119,7LrThwwNNLVCRtYXDUurGqmiJXP1s9mT53G4SFayn2NWBmEV,Bartalamew,,,,
120,7Hnbh8jgGq39MnqRxAbQrUDgSWfsr8drPQfvikmx3ZRS2z3k,@SeaInvestor,,,,@PavelMoneyIn
121,7LdgWcszy3R76eBU3sAqYvwBUG9PxiwJ6K8XGvNQandWy1R1,hydra9595,,,,

In [29]:
piv_nomval_lock_df2 = pd.merge(nomval_df2, lock_df2, how='left',left_on=['nv_nominator'],right_on=['lock_nominator'])
#piv_nomval_lock_df2.fillna('', inplace=True)
piv_nomval_lock_df2_1=piv_nomval_lock_df2.groupby(['nv_validator']).sum().copy()
piv_nomval_lock_df2_1.reset_index(inplace=True, drop = False)

In [30]:
piv_nomval_lock_df2

,nv_nominator,nv_validator,lock_nominator,lock_stake
0,7LKTaxTPdY3k1a5RPhRwiDjX1jdtdqiAS9i9dqCB85Ly2ftT,7Kb7QZj8t6k8JzoLcBnC5JuS87hya6tXFNpcq5jTXPr6aQ7y,7LKTaxTPdY3k1a5RPhRwiDjX1jdtdqiAS9i9dqCB85Ly2ftT,34280.8
1,7LKTaxTPdY3k1a5RPhRwiDjX1jdtdqiAS9i9dqCB85Ly2ftT,7Jt7Gnrue5rY1fWiwLKjuACqWvc7TXKXwB5Au3fGTaa6bW7M,7LKTaxTPdY3k1a5RPhRwiDjX1jdtdqiAS9i9dqCB85Ly2ftT,34280.8
2,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,7LeAuXae35f84yxEpsS7zKa6etuVVEun4hr1Y6vsaFzx77GY,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,12400.0
3,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,7Ni7k6VzmMamc5XixohFCmMYe6WYeqqgkqSGhupA8FMEhHFP,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,12400.0
4,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,7MxJ9E1Ni6tx94DnV9mJCn6eVjqYgtvXz395M1kK94dii6qm,7NUsZPebwLKSseaxGvUsq9dL4xjSgtUWcvCaeqZEEMLNAB7q,12400.0
...,...,...,...,...
5770,7JTxEFLetAtByBnCxnvru7Jk7vEY5QzcqJdas6b36RueDiki,7Ni7k6VzmMamc5XixohFCmMYe6WYeqqgkqSGhupA8FMEhHFP,7JTxEFLetAtByBnCxnvru7Jk7vEY5QzcqJdas6b36RueDiki,1500.0
5771,7Lh2fyZ7NJnBsGqAot2CXUbcnoVJFiTCRFLeqtEMRp5DKYWK,7LBK6UBtBVFHGqjfZp3BkQseXz7zFom7eVshyyB6HkSREQeV,7Lh2fyZ7NJnBsGqAot2CXUbcnoVJFiTCRFLeqtEMRp5DKYWK,30156.4
5772,7Lh2fyZ7NJnBsGqAot2CXUbcnoVJFiTCRFLeqtEMRp5DKYWK,7KLEkNB5CnkrMEasfhCHggTDJZymQMeckTmN6naogUKj1Ez7,7Lh2fyZ7NJnBsGqAot2CXUbcnoVJFiTCRFLeqtEMRp5DKYWK,30156.4
5773,7Lh2fyZ7NJnBsGqAot2CXUbcnoVJFiTCRFLeqtEMRp5DKYWK,7MW7PmdPX3qAXWNc7BJZ5GvQnfd3V4kd12o8Cv9bbquBDV2Z,7Lh2fyZ7NJnBsGqAot2CXUbcnoVJFiTCRFLeqtEMRp5DKYWK,30156.4
5774,7JNkxmGVV5ELbWRhLtfh1ehMiRx5WALXST4rFTzyk255r8eN,7L8vysxVUoFLaz4prDrSsDH8LWhvD5anU5tDaBLwikosVAP7,7JNkxmGVV5ELbWRhLtfh1ehMiRx5WALXST4rFTzyk255r8eN,7880.0

In [31]:
piv_nomval_lock_df2_1

                                         nv_validator   lock_stake
0    7HccSRSHmJjJiGXPnv3cK1sRvTVYwxuWHsaUwXND1AyTt4mp  1980415.800
1    7HjntvAskE1RXoGrSz3sHYeEmG6narGjiMhUQVaTa4mAcAbn  3378094.401
2    7HkfuoaD9Edsfm4vS7qPf8wyhcAKVYVbaXXMnRuFNzTGurJQ   984755.300
3    7Hnbh8jgGq39MnqRxAbQrUDgSWfsr8drPQfvikmx3ZRS2z3k   735404.100
4    7Hnr9uHckVyBiyxbRZxKWsspM3u2MsGvhEqVdVJSTWjoGNgt    12263.900
..                                                ...          ...
208  7PJJ7KMuKWzpXDRU5gwgEXj9niwDer9x7ESm5mrMtyr9yoSC     2642.700
209  7PJJTvcLGwsC11Np9nN8JLVvkMjACmxmJehw8mMHpVUfn8UQ  3415372.600
210  7PLgsivMXtqsJirQvSC1jYWCntkces8uBX4KnYTFYPRakG5r  7082156.100
211  7PMBLJqDMVZWTMAjA7vhPu3ETv6zz8P7kr8XH9ubD2PppKmL  2824466.900
212  7PMhmBrWy4sdLxrvwdmyZsCKQ53tjRWtmXMApDpZBMTXaVdv   432153.300

[213 rows x 2 columns]

In [32]:
i = 0 
pivot_df = prefs_df2.copy()

length_data = pivot_df.shape[0]
pivot_df["self_stake"]=float(0)
pivot_df["nominated_stake"]=float(0)
pivot_df["level64"]=float(0)
pivot_df["count"]=float(0)
pivot_df["oversubscribed"]="no"



pivot_df["in_crifferent_list"]=float(0)
pivot_df["in_promoteam_list"]=float(0)
pivot_df["info"]=""
pivot_df["status"]=''

pivot_df["id_display"]=''
pivot_df["id_web"]=''
pivot_df["id_riot"]=''
pivot_df["id_email"]=''
pivot_df["id_twitter"]=''

pivot_df["crifferent_name"]=''
pivot_df["crifferent_web"]=''
pivot_df["crifferent_telegram"]=''
pivot_df["crifferent_twitter"]=''
pivot_df["crifferent_mail"]=''

pivot_df["promoteam_name"]=''
pivot_df["promoteam_web"]=''
pivot_df["promoteam_telegram"]=''

while (i < length_data): 
    if (pivot_df.at[i, 'prefs_validator'] in cliff_df2['clifferent_address'].unique()):
        pivot_df.at[i, 'in_crifferent_list'] = 1
    
    if (pivot_df.at[i, 'prefs_validator'] in promoteam_df2['promoteam_address'].unique()):
        pivot_df.at[i, 'in_promoteam_list'] = 1
        

    if (pivot_df.at[i, 'prefs_validator'] in info_df2['info_address'].unique()):
        pivot_df.at[i, 'info'] = info_df2[info_df2['info_address'] == pivot_df.at[i, 'prefs_validator']]['info'].unique()[0]
        pivot_df.at[i, 'status'] = info_df2[info_df2['info_address'] == pivot_df.at[i, 'prefs_validator']]['status'].unique()[0]
        
    if (pivot_df.at[i, 'prefs_validator'] in piv_nomval_lock_df2_1['nv_validator'].unique()):
        pivot_df.at[i, 'nominated_stake'] = piv_nomval_lock_df2_1[piv_nomval_lock_df2_1['nv_validator'] == pivot_df.at[i, 'prefs_validator']]['lock_stake']
        
        temp1 = piv_nomval_lock_df2[piv_nomval_lock_df2['nv_validator'] == pivot_df.at[i, 'prefs_validator']].sort_values(by=['lock_stake'], ascending=False)
        temp1.reset_index(inplace=True, drop = False)
        count1=temp1['lock_stake'].count()
        pivot_df.at[i, 'count'] = count1
        if (temp1['lock_stake'].count() >= 64): 
            pivot_df.at[i, 'level64']=temp1.at[63, 'lock_stake']
            pivot_df.at[i, 'oversubscribed']='yes'

    if (pivot_df.at[i, 'prefs_validator'] in lock_df2['lock_nominator'].unique()):
        pivot_df.at[i, 'self_stake'] = lock_df2[lock_df2['lock_nominator'] == pivot_df.at[i, 'prefs_validator']]['lock_stake']
    
    if (pivot_df.at[i, 'prefs_validator'] in identity_df2['id_address'].unique()):
        pivot_df.at[i, 'id_display'] = identity_df2[identity_df2['id_address'] == pivot_df.at[i, 'prefs_validator']]['id_display'].unique()[0]
        pivot_df.at[i, 'id_web'] = identity_df2[identity_df2['id_address'] == pivot_df.at[i, 'prefs_validator']]['id_web'].unique()[0]
        pivot_df.at[i, 'id_riot'] = identity_df2[identity_df2['id_address'] == pivot_df.at[i, 'prefs_validator']]['id_riot'].unique()[0]
        pivot_df.at[i, 'id_email'] = identity_df2[identity_df2['id_address'] == pivot_df.at[i, 'prefs_validator']]['id_email'].unique()[0]
        pivot_df.at[i, 'id_twitter'] = identity_df2[identity_df2['id_address'] == pivot_df.at[i, 'prefs_validator']]['id_twitter'].unique()[0]

    if (pivot_df.at[i, 'prefs_validator'] in cliff_df2['clifferent_address'].unique()):
        pivot_df.at[i, 'crifferent_name'] = cliff_df2[cliff_df2['clifferent_address'] == pivot_df.at[i, 'prefs_validator']]['crifferent_name'].unique()[0]
        pivot_df.at[i, 'crifferent_web'] = cliff_df2[cliff_df2['clifferent_address'] == pivot_df.at[i, 'prefs_validator']]['crifferent_web'].unique()[0]
        pivot_df.at[i, 'crifferent_telegram'] = cliff_df2[cliff_df2['clifferent_address'] == pivot_df.at[i, 'prefs_validator']]['crifferent_telegram'].unique()[0]
        pivot_df.at[i, 'crifferent_twitter'] = cliff_df2[cliff_df2['clifferent_address'] == pivot_df.at[i, 'prefs_validator']]['crifferent_twitter'].unique()[0]
        pivot_df.at[i, 'crifferent_mail'] = cliff_df2[cliff_df2['clifferent_address'] == pivot_df.at[i, 'prefs_validator']]['crifferent_mail'].unique()[0]

    if (pivot_df.at[i, 'prefs_validator'] in promoteam_df2['promoteam_address'].unique()):
        pivot_df.at[i, 'promoteam_name'] = promoteam_df2[promoteam_df2['promoteam_address'] == pivot_df.at[i, 'prefs_validator']]['promoteam_name'].unique()[0]
        pivot_df.at[i, 'promoteam_web'] = promoteam_df2[promoteam_df2['promoteam_address'] == pivot_df.at[i, 'prefs_validator']]['promoteam_web'].unique()[0]
        pivot_df.at[i, 'promoteam_telegram'] = promoteam_df2[promoteam_df2['promoteam_address'] == pivot_df.at[i, 'prefs_validator']]['promoteam_telegram'].unique()[0]
        
    i=i+1

pivot_df["self_stake"]=pivot_df["self_stake"].round()
pivot_df["nominated_stake"]=pivot_df["nominated_stake"].round()
pivot_df["level64"]=pivot_df["level64"].round()

In [33]:
pivot_df1=pivot_df.sort_values(by=['count'], ascending=False).copy()
pivot_df1.reset_index(inplace=True, drop = False)

In [34]:
pivot_df1.to_excel("Table1.xlsx")

In [35]:
pivot_df1

,index,prefs_validator,prefs_commission,self_stake,nominated_stake,level64,count,oversubscribed,in_crifferent_list,in_promoteam_list,...,id_email,id_twitter,crifferent_name,crifferent_web,crifferent_telegram,crifferent_twitter,crifferent_mail,promoteam_name,promoteam_web,promoteam_telegram
0,174,7NzHitwWA5UidhXiNJSTipSwbXgDfikKefdY9kB69sBJxPS7,3.0,13154.0,21299280.0,22000.0,123.0,yes,1.0,0.0,...,simon.kraus@crifferent.de,@dev0_sik,HydraSik | crifferent.de,http://www.crifferent.de/,http://www.crifferent.de/,https://www.twitter.com/dev0_sik,,,,
1,16,7JhbeVC2RB49ASzNpQxZbkpKVR1dkdP7DjQhmvq4JYfx8VGq,1.0,5717000.0,7479641.0,17500.0,110.0,yes,0.0,1.0,...,,,,,,,,doubletoptraders,https://t.me/doubletop_hydra,@radist_trus
2,63,7Kb7QZj8t6k8JzoLcBnC5JuS87hya6tXFNpcq5jTXPr6aQ7y,0.0,15000.0,14333618.0,19000.0,107.0,yes,1.0,0.0,...,,,Shez | staking4all.org,https://www.staking4all.org/,https://t.me/sheznez,https://www.twitter.com/staking4all,,,,
3,199,7NMNjF4nVE5FyA9yD1dCRKKauUDF1PkHXNt8stDhG8UKp1q8,5.0,45000.0,10225129.0,17136.0,103.0,yes,1.0,0.0,...,adamkowal@tokenswolf.com,@TokensWolf,Adam | tokenswolf.com,https://tokenswolf.com/,https://t.me/tokenswolf,https://www.twitter.com/TokensWolf,,,,
4,117,7PFhBsJmEa2WnsKtpQTuT6k2utPmLDcMwpDiZ2ZV7h6fcR1x,0.0,100.0,8573667.0,11000.0,102.0,yes,0.0,0.0,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,181,7P2usrNg2P41E4CEzXFsYuz2p3FvKDMshXAJinBgaLCJYTsm,3.0,200.0,0.0,0.0,0.0,no,0.0,0.0,...,,,,,,,,,,
233,205,7LgBXBPHXL98jbwxcMa3tgDikbMyQLsScaACsSe7sfPEgn2c,1.0,102000.0,0.0,0.0,0.0,no,0.0,0.0,...,,@dev_enjoys,,,,,,,,
234,187,7HqKSGMFyYeLqjeSepnwF8ymhe9UL2JjAC2i7TE8fiV4qQLq,2.0,14000.0,0.0,0.0,0.0,no,0.0,0.0,...,,,,,,,,,,
235,194,7LYficCBAhaL9to2UMh1AFkh7NQK3SyDZLwoJPKTUrFa6E9b,0.0,16666.0,0.0,0.0,0.0,no,0.0,0.0,...,,,,,,,,,,
236,152,7K9FMQBQzkz52y8A4aBDvTxrVwFFzrXdX49FVAVifQGZ5PN4,1.0,20094.0,0.0,0.0,0.0,no,0.0,0.0,...,,,,,,,,,,